@font-face {
  font-family: localFreightProBookRegular;
  src: url(../fonts/freighttext-pro-book-regular.ttf);
}

@font-face {
  font-family: localFreightProBookItalic;
  src: url(../fonts/freighttext-pro-book-italic.ttf);
}

@font-face {
  font-family: localFreightProBlackRegular;
  src: url(../fonts/freighttext-pro-black-regular.ttf)
}

@font-face {
  font-family: localFreightProBlackItalic;
  src: url(../fonts/freighttext-pro-black-italic.ttf)
}

@font-face {
  font-family: localFreightProBoldRegular;
  src: url(../fonts/freighttext-pro-bold-regular.ttf)
}

@font-face {
  font-family: localFreightProBoldItalic;
  src: url(../fonts/freighttext-pro-bold-italic.ttf)
}

@font-face {
  font-family: localFreightProLightRegular;
  src: url(../fonts/freighttext-pro-light-regular.ttf)
}

@font-face {
  font-family: localFreightProLightItalic;
  src: url(../fonts/freighttext-pro-light-italic.ttf)
}

@font-face {
  font-family: localFreightProMediumkRegular;
  src: url(../fonts/freighttext-pro-medium-regular.ttf)
}

@font-face {
  font-family: localFreightProMediumItalic;
  src: url(../fonts/freighttext-pro-medium-italic.ttf)
}

@font-face {
  font-family: localFreightProSemiBoldRegular;
  src: url(../fonts/freighttext-pro-semi-bold-regular.ttf)
}

@font-face {
  font-family: localFreightProSemiBoldItalic;
  src: url(../fonts/freighttext-pro-semi-bold-italic.ttf)
}