:root {
  --main-bg-color: rgb(255, 240, 224);
  --main-normal-color: black;
  --main-header-color: rgb(236, 248, 255);
  --button-default-color: rgb(24, 120, 48);
  --button-hover-color: chocolate;
  /* color: ; */
}

html, body { 
  /* width: 80%;
  margin: auto;
  justify-content: center; */
  color: var(--main-normal-color);
  background-color: var(--main-bg-color);
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-size: 1em;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

body>*:not(header) {
  /* Set width for all children of body except .full-width */
  width: 80%;
  margin: auto;
  justify-content: center;
}

header {
  width: 100%;
  /* margin: auto; */
  margin: 0px;
  justify-content: center;
  position: relative;

  background: var(--main-header-color);
  background: var(--main-header-color);
  border-bottom: 1px solid var(--main-normal-color);
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0em;
}

li {
  margin: 0;
  padding: 0;
}

.nom-en-tete {
  font-weight: 800;
  font-size: 1.5em;
  width: 80%;
  word-wrap: break-word;
}

.phonetique-nom {
  font-size: 0.75em;
}

@media screen and (max-width: 400px) {
  .phonetique-nom {
    display: none;
  }
}

h1 {
  margin: 0;
  padding: 0;
}

.cont-header {
  width: 80%;
  margin: auto;
  /* margin-top: 0; */
  justify-content: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.conteneur-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bouton {
  /* Pour les boutons cliquables */
  text-decoration: underline;
  color: var(--button-default-color);
  /* margin-right: 2em; */
  /* border: solid; */
  /* padding: 1em; */
}

.bouton:hover,
.bouton:focus,
.bouton:visited {
  color: var(--button-hover-color);
}

.conteneur-navigation > li {
  /* Pour boutons dans .conteneur-navigation */
  margin-right: 2em;
}

@media screen and (max-width: 680px) {
  .conteneur-navigation {
    display: none;
  }
}

.menu-deroulant {
  display:none;
}

.icone-menu-deroulant {
  font-size: 2em;
  display: none;
}

@media screen and (max-width: 680px) {
  .icone-menu-deroulant {
    display: block;
  }

  .icone-menu-deroulant:hover {
    color: var(--button-hover-color);
  }
}

.ancre-menu-deroulant {
  position: relative;
}

.conteneur-menu-deroulant {
  display: none;
  text-align: right;
  flex-direction: column;
  border: solid;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0%;
  background-color: var(--main-bg-color);
}

.conteneur-menu-deroulant > li {
  /* Pour tous les boutons dans .conteneur-menu-deroulant */
  padding-top: 0.5em;
}

.conteneur-menu-deroulant>li:first-child {
  /* Pour 1er bouton dans .conteneur-menu-deroulant */
  padding-top: 0em;
}

@media screen and (max-width: 680px) {
  .menu-deroulant:checked + .ancre-menu-deroulant .conteneur-menu-deroulant {
    /* Montrer le menu lorsque l'écran fait moins de 680px et que la case du menu déroulant est cochée */
    display: block;
  }
}


table {
  border-collapse: collapse;
}
td {
  border-top: 1px solid var(--main-normal-color);
  border-bottom: 1px solid var(--main-normal-color);
  border-spacing: 0;
  padding-right: 3em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}




.href-sans-mev {/* mev: mise en valeur */
  color: var(--main-normal-color);
  text-decoration: none;
}


.conteneur-photo-infos {
  display:flex;
  flex-wrap: wrap;
  align-items:flex-end;
}

.photo-profil img {
  width: 12em;
  max-width: 100%;
  height: auto;
  margin-right: 2em;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

