/* Variables */
:root {
  --max-width: calc(900px - (30px * 2));
  --nav-background-color: #f5f0e7; /* #f5f0e7 */
}

/* Global styles */
body {
  margin: 0;
  font-family: localFreightProBookRegular, "Times New Roman", Times, serif;
  color: #444;
  font-size: 19px;
  font-weight: normal;
  letter-spacing: 0.4px;
}

main {
  max-width: var(--max-width);
  margin: 20px auto;
  padding: 0 7.5%;
}

main em {
  font-family: localFreightProBookItalic, "Times New Roman", Times, serif;
  font-style: normal;
}

main h2 {
  font-family: localFreightProBookItalic, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  /* color: #3daa8b; */
}

li + li {
  margin-top: 20px;
}

footer {
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 7.5%;
}

footer .footer-container {
  color: #666666;
  font-family: "Inter", serif;
  font-size: 14px;
  font-weight: 300;
  border-top: 1px solid #808080;
  padding: 20px 0;
}

/* Hyperlinks */
main a {
  color: #cb791a;
  text-decoration: none;
  transition: color 0.2s;
}

main a:hover {
  color: #8c5313;
  text-decoration: none;
}

/* Bibliography */
.bib-title {
  font-family: localFreightProSemiBoldRegular, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: px;
}

.bib-status {
  font-family: localFreightProBookItalic, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
}

.abstract summary::before {
  content: "+";
  display: inline-block;
  width: 20px;  /* Ensures consistent width */
  text-align: center; /* Center align */
}

.abstract summary {
  color: #666666;
  font-family: localFreightProBookItalic, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  font-size: 16px;
  cursor: pointer;
  list-style: none; /* Remove default marker */
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.abstract summary:hover {
  color: #cb791a;
}

.abstract > div {
  margin-left: 20px;
  font-size: 16px;
  color: #666666;
  /* font-family: localFreightProBookItalic, "Times New Roman", Times, serif; */
}

.abstract[open] summary {
  margin-bottom: 10px; /* Adds space when expanded */
}

/* Oral communications */
.oral-communication summary {
  font-family: localFreightProBookItalic, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
  padding-bottom: 10px;
  transition: color 0.2s;
}

.oral-communication + .oral-communication {
  margin-top: 20px;
}

.oral-communication summary:hover {
  color: #cb791a;
}

.oral-communication[open] summary {
  margin-bottom: 20px; /* Adds space when expanded */
}

.listing-table {
  border-collapse: separate;
  width: 100%;
  margin: auto;
  border-spacing: 0px 20px;
  margin-top: -20px;
}

.listing-table .cell-date {
  vertical-align: top;
  text-align: right;
  padding-right: 20px;
}