/* Variables */
:root {
  --max-width: calc(900px - (30px * 2));
  --main-color: #444;
  --main-background-color: #faf9f5; /* #fffff8; */
  --nav-background-color: #e7ebf5; /* #d2e3fc; #f5f0e7 */
  --link-color: #0066cc; /* #cb791a */
  --link-hover-color: #5c7e97; /* #8c5313 */
  --box-background-color: color-mix(in srgb, var(--nav-background-color) 40%, transparent);
}

/* Global styles */
html {
  scroll-behavior: smooth
}

b {
  font-weight: 600;
}

p {
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: "Source Serif 4";
  color: var(--main-color);
  background-color: var(--main-background-color);
  font-size: 19px;
  font-weight: 370;
  /* letter-spacing: 0.1px; */
}

main {
  max-width: var(--max-width);
  margin: 30px auto;
  padding: 0 7.5%;
}

main em {
  font-family: "Source Serif 4", "Times New Roman", Times, serif;
  font-style: italic;
  font-style: normal;
}

main h1 {
  font-family: "Source Serif 4", "Times New Roman", Times, serif;
  font-weight: 650;
  color: var(--main-color);
  opacity: 0.9;
}

main h2 {
  font-family: "Source Serif 4", "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
}

li + li {
  margin-top: 10px;
}

footer {
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 7.5%;
}

footer .footer-container {
  color: #666666;
  font-family: "Inter", serif;
  font-size: 14px;
  font-weight: 300;
  border-top: 1px solid #808080;
  padding: 20px 0;
}

/* Hyperlinks */
main a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.2s;
}

main a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

/*******************/
/* Page navigation */
/*******************/
.page-navigation ul {
  background-color: var(--box-background-color);
  overflow-wrap: break-word;
  border: 1px dashed;
  padding-top: 20px;
  padding-bottom: 20px;
}

/**********************/
/* Bibliography links */
/**********************/
.bib-title {
  font-family: "Source Serif 4", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: px;
}

.bib-status {
  font-family: "Source Serif 4", "Times New Roman", Times, serif;
  font-style: italic;
}

/* Details/summary styling */
.bib-links {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* margin: 10px 0; */
}

.bib-links details {
  display: contents; /* Break out of flex containment */
}

.bib-links summary,
.bib-links a {
  font-family: "Inter", serif;
  font-weight: 350;
  font-size: 16px;
  letter-spacing: 0.25px;
  color: var(--link-color);
  cursor: pointer;
  border: 1px solid;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 5px; /* Set same value as right in  .bib-links summary::after */
}

.bib-links summary {
  list-style: none;
  order: 1; /* Force summary to first position */
  position: relative;
  padding-right: 24px;
}

.bib-links summary::after {
  content: "expand_more";
  font-family: 'Material Icons';
  font-size: 20px;
  position: absolute;
  /* Position inside border ** has to be the same as bib-links summary padding */
  right: 2px; 
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s;
}

.bib-links details[open] summary::after {
  content: "expand_less";
}

.bib-links summary:hover {
  color: var(--link-hover-color);
}

/* Abstract content styling */
.bib-links .abstract-content {
  display: none;
  width: 100%;
  order: 3; /* Force to bottom of flex container */
  padding: 12px;
  border: 1px dashed #808080;
  background: var(--box-background-color);
  margin-top: 16px;
  font-size: 16px;
  font-weight: 350;
  letter-spacing: -0.25px;
}

.bib-links details[open] summary {
  margin-left: 0px;
}

.bib-links details[open] .abstract-content {
  display: block;
}

/* Links styling */
.bib-links a {
  color: #0066cc;
  text-decoration: none;
  order: 2; /* Keep links after summary */
  position: static; /* Reset positioning */
}

/***********************/
/* Oral communications */
/***********************/
.oral-communication summary {
  font-family: "Source Serif 4", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
  padding-bottom: 10px;
  transition: color 0.2s;
}

.oral-communication + .oral-communication {
  margin-top: 20px;
}

.oral-communication summary:hover {
  color: var(--link-color);
}

.oral-communication[open] summary {
  margin-bottom: 20px; /* Adds space when expanded */
}

.listing-table {
  border-collapse: separate;
  width: 100%;
  margin: auto;
  border-spacing: 0px 20px;
  margin-top: -20px;
}

.listing-table .cell-date {
  vertical-align: top;
  text-align: right;
  padding-right: 20px;
}