/* Navigation bar */
nav {
  background-color: var(--nav-background-color);
  width: 100%;
  padding: 0;
}

/* Navigation container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 30px 7.5%;
}

/* Title */
.nav-title {
  font-family: "Source Serif 4", "Times New Roman", Times, serif;
  font-size: 28px;
  letter-spacing: -0.25px;
}

.nav-title a {
  text-decoration: none;
  color: #666666;
  transition: color 0.3s;
}

.nav-title a:hover {
  color: var(--link-color);;
}

/* Navigation links */
.nav-links {
  display: flex;
  gap: 10px;
  flex-wrap: wrap
}

.nav-links a {
  text-decoration: none;
  color: #666666;
  font-family: "Inter", serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  font-size: 16px;
  padding: 10px 10px;
  transition: color 0.3s;
}

/* Highlight the current active link */
.nav-links a.active {
  color: var(--link-color);
}

/* Hover effect */
.nav-links a:hover {
  color: var(--link-color);
}

/* Hamburger menu icon (hidden by default) */
.hamburger {
  display: none;
  color: #666666;
  font-size: 28.8px;
  cursor: pointer;
  background: none;
  border: none;
  transition: color 0.3s;
}

.hamburger .material-icons {
  font-size: 32px;
}

/* Hover effect on hamburger */
.hamburger:hover {
  color: var(--link-color);
}

/* Responsive menu (hidden by default) */
.mobile-menu {
  display: none;
  text-align: center;
  padding: 0;
  margin: 0;
  text-align: left
}

.mobile-menu a {
  display: block;
  background: var(--main-background-color);
  color: #666666;
  font-family: "Inter", serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  font-size: 16px;
  padding: 20px 7.5%;
  border-bottom: 1px solid #666666;
  text-decoration: none;
  margin: 0;
  transition: background 0.3s;
}

/* Highlight the current active link */
.mobile-menu a.active {
  color: var(--link-color);
}

.mobile-menu a:first-child {
  border-top: 1px solid #808080;
}

.mobile-menu a:hover {
  background: #f2f2f2;
  color: var(--link-color);
}

/* Responsive styles */
@media screen and (max-width: 800px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }
}